In [4]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import nltk
from nltk.corpus import stopwords
nltk.download("stopwords")

%matplotlib inline

[nltk_data] Downloading package stopwords to /home/mir/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [84]:
# Step 01: Read Data
df = pd.read_csv("dataset/books.csv", sep=";", dtype={"isbn":np.str})
df.info(memory_usage="deep")
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11622 entries, 0 to 11621
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   isbn       11622 non-null  object
 1   title      11622 non-null  object
 2   pages      11601 non-null  float64
 3   category   11622 non-null  object
 4   author     11622 non-null  object
 5   publisher  11622 non-null  object
dtypes: float64(1), object(5)
memory usage: 4.0 MB

,isbn,title,pages,category,author,publisher
0,0782128726,Mastering Windows 2000 Server,1830.0,Computers,brian m. smith,Sybex Inc
1,0782128726,Mastering Windows 2000 Server,1830.0,Computers,doug toombs,Sybex Inc
2,0789711427,Using Microsoft Backoffice,1772.0,Computers,don benage,Macmillan Computer Pub
3,0691097186,"The Collected Dialogues Of Plato, Including Th...",1743.0,Ancient,plato,Princeton University Press
4,0691097186,"The Collected Dialogues Of Plato, Including Th...",1743.0,Philosophy,plato,Princeton University Press

In [82]:
# Features considered in content filtering
features = ["isbn", "publisher", "category", "author"]

In [94]:
# join all features in one column
books_df = df[features].groupby("isbn").agg(lambda cell_val: ' '.join(set(cell_val)))
books_df["features"] = books_df[features[1:]].apply(lambda row: " ".join(row.fillna("")), axis=1)

# Delete unecessary features
books_df.drop(features[1:], axis=1, inplace=True)

books_df.info(memory_usage="deep")
books_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 9399 entries, 0002251760 to 950491036X
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   features  9399 non-null   object
dtypes: object(1)
memory usage: 1.5 MB

                                                     features
isbn
0002251760                 Harpercollins Fiction nick bantock
000648302X  Harpercollins (Uk) End Of The World matthew th...
0006543545  Flamingo Booksellers And Bookselling penelope ...
0007106572         Harpercollins Domestic Fiction sue welfare
0007154615                    Perennial Fiction carol shields

In [0]:
# Define words to ignore during CountVectorizer
stopwords_list = stopwords.words('english') + stopwords.words('french')

In [16]:
#Define a count Vectorizer Object. Remove all english/french stop words such as 'the', 'a', 'et'
count = CountVectorizer(stop_words=stopwords_list)


#Construct the required TF-IDF matrix by fitting and transforming the data
count_matrix = count.fit_transform(q_books['features'])

#Output the shape of tfidf_matrix
count_matrix.shape

(31303, 15255)

In [0]:
# Compute the cosine similarity matrix
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [18]:
df.sample()

             isbn  title  ... categories     authors
34217  0451401948  Slice  ...    Fiction  Rex Miller

[1 rows x 8 columns]